params {
    genomes {
        'Aav' {
            binomial = 'Acidovorax avenae'
            med_len = 5574500
            fasta = "${params.genomes_base}/Aav.fa"
        }
        'Aba' {
            binomial = 'Acinetobacter baumannii'
            med_len = 3977290
            fasta = "${params.genomes_base}/Aba.fa"
        }
        'Bsu' {
            binomial = 'Bacillus subtilis'
            med_len = 4136780
            fasta = "${params.genomes_base}/Bsu.fa"
        }
        'Bfr' {
            binomial = 'Bacteroides fragilis'
            med_len = 5277680
            fasta = "${params.genomes_base}/Bfr.fa"
        }
        'Ban' {
            binomial = 'Bifidobacterium animalis'
            med_len = 1934770
            fasta = "${params.genomes_base}/Ban.fa"
        }
        'Bbu' {
            binomial = 'Borreliella burgdorferi'
            med_len = 1294900
            fasta = "${params.genomes_base}/Bbu.fa"
        }
        'Bme' {
            binomial = 'Brucella melitensis'
            med_len = 3295090
            fasta = "${params.genomes_base}/Bme.fa"
        }
        'Bps' {
            binomial = 'Burkholderia pseudomallei'
            med_len = 7123730
            fasta = "${params.genomes_base}/Bps.fa"
        }
        'Cbo' {
            binomial = 'Clostridium botulinum'
            med_len = 3914600
            fasta = "${params.genomes_base}/Cbo.fa"
        }
        'Cje' {
            binomial = 'Campylobacter jejuni'
            med_len = 1692320
            fasta = "${params.genomes_base}/Cje.fa"
        }
        'Ctr' {
            binomial = 'Chlamydia trachomatis'
            med_len = 1046350
            fasta = "${params.genomes_base}/Ctr.fa"
        }
        'Cfr' {
            binomial = 'Citrobacter freundii'
            med_len = 5293370
            fasta = "${params.genomes_base}/Cfr.fa"
        }
        'Cdi' {
            binomial = 'Clostridioides difficile'
            med_len = 4174440
            fasta = "${params.genomes_base}/Cdi.fa"
        }
        'Cdp' {
            binomial = 'Corynebacterium diphtheriae'
            med_len = 2444540
            fasta = "${params.genomes_base}/Cdp.fa"
        }
        'Cco' {
            binomial = 'Cronobacter condimenti'
            med_len = 4499480
            fasta = "${params.genomes_base}/Cco.fa"
        }
        'Cdo' {
            binomial = 'Cronobacter dublinensis'
            med_len = 4545550
            fasta = "${params.genomes_base}/Cdo.fa"
        }
        'Cma' {
            binomial = 'Cronobacter malonaticus'
            med_len = 4469230
            fasta = "${params.genomes_base}/Cma.fa"
        }
        'Cmu' {
            binomial = 'Cronobacter muytjensii'
            med_len = 4354490
            fasta = "${params.genomes_base}/Cmu.fa"
        }
        'Cro' {
            binomial = 'Cronobacter species'
            med_len = 4436890
            fasta = "${params.genomes_base}/Cro.fa"
        }
        'Csa' {
            binomial = 'Cronobacter sakazakii'
            med_len = 4483370
            fasta = "${params.genomes_base}/Csa.fa"
        }
        'Ctu' {
            binomial = 'Cronobacter turicensis'
            med_len = 4548510
            fasta = "${params.genomes_base}/Ctu.fa"
        }
        'Cun' {
            binomial = 'Cronobacter universalis'
            med_len = 4436890
            fasta = "${params.genomes_base}/Cun.fa"
        }
        'Dra' {
            binomial = 'Deinococcus radiodurans'
            med_len = 3241810
            fasta = "${params.genomes_base}/Dra.fa"
        }
        'Eas' {
            binomial = 'Enterobacter asburiae'
            med_len = 4849950
            fasta = "${params.genomes_base}/Eas.fa"
        }
        'Eca' {
            binomial = 'Enterobacter cancerogenus'
            med_len = 4879940
            fasta = "${params.genomes_base}/Eca.fa"
        }
        'Ecl' {
            binomial = 'Enterobacter cloacae'
            med_len = 4946390
            fasta = "${params.genomes_base}/Ecl.fa"
        }
        'Ehh' {
            binomial = 'Enterobacter hormaechei_ho'
            med_len = 4933650
            fasta = "${params.genomes_base}/Ehh.fa"
        }
        'Eho' {
            binomial = 'Enterobacter hormaechei_st'
            med_len = 4965830
            fasta = "${params.genomes_base}/Eho.fa"
        }
        'Eko' {
            binomial = 'Enterobacter kobei'
            med_len = 4956750
            fasta = "${params.genomes_base}/Eko.fa"
        }
        'Elu' {
            binomial = 'Enterobacter ludwigii'
            med_len = 4876540
            fasta = "${params.genomes_base}/Elu.fa"
        }
        'Ero' {
            binomial = 'Enterobacter roggenkampii'
            med_len = 4994840
            fasta = "${params.genomes_base}/Ero.fa"
        }
        'Eco' {
            binomial = 'Escherichia coli'
            med_len = 5140740
            fasta = "${params.genomes_base}/Eco.fa"
        }
        'Efm' {
            binomial = 'Enterococcus faecium'
            med_len = 2935270
            fasta = "${params.genomes_base}/Efm.fa"
        }
        'Fnu' {
            binomial = 'Fusobacterium nucleatum'
            med_len = 2408530
            fasta = "${params.genomes_base}/Fnu.fa"
        }
        'Hin' {
            binomial = 'Haemophilus influenzae'
            med_len = 1846600
            fasta = "${params.genomes_base}/Hin.fa"
        }
        'Hfp' {
            binomial = 'Hafnia paralvei'
            med_len = 4778390
            fasta = "${params.genomes_base}/Hfp.fa"
        }
        'Hpy' {
            binomial = 'Helicobacter pylori'
            med_len = 1633210
            fasta = "${params.genomes_base}/Hpy.fa"
        }
        'Ica' {
            binomial = 'Intrasporangium calvum'
            med_len = 4024710
            fasta = "${params.genomes_base}/Ica.fa"
        }
        'Kpn' {
            binomial = 'Klebsiella pneumoniae'
            med_len = 5593110
            fasta = "${params.genomes_base}/Kpn.fa"
        }
        'Lrh' {
            binomial = 'Lactobacillus rhamnosus'
            med_len = 2945650
            fasta = "${params.genomes_base}/Lrh.fa"
        }
        'Lla' {
            binomial = 'Lactococcus lactis'
            med_len = 2509250
            fasta = "${params.genomes_base}/Lla.fa"
        }
        'Lpn' {
            binomial = 'Legionella pneumophila'
            med_len = 3447360
            fasta = "${params.genomes_base}/Lpn.fa"
        }
        'Lmo' {
            binomial = 'Listeria monocytogenes'
            med_len = 2985440
            fasta = "${params.genomes_base}/Lmo.fa"
        }
        'Lru' {
            binomial = 'Legionella rubrilucens'
            med_len = 3129670
            fasta = "${params.genomes_base}/Lru.fa"
        }
        'Msc' {
            binomial = 'Marmoricola scoriae'
            med_len = 4058580
            fasta = "${params.genomes_base}/Msc.fa"
        }
        'Msh' {
            binomial = 'Mycobacterium shigaense'
            med_len = 5207880
            fasta = "${params.genomes_base}/Msh.fa"
        }
        'Mtb' {
            binomial = 'Mycobacterium tuberculosis'
            med_len = 4383580
            fasta = "${params.genomes_base}/Mtb.fa"
        }
        'Ndo' {
            binomial = 'Nocardioides dokdonensis'
            med_len = 4376710
            fasta = "${params.genomes_base}/Ndo.fa"
        }
        'Nfa' {
            binomial = 'Nocardia farcinica'
            med_len = 6406890
            fasta = "${params.genomes_base}/Nfa.fa"
        }
        'Ngo' {
            binomial = 'Neisseria gonorrhoeae'
            med_len = 2143510
            fasta = "${params.genomes_base}/Ngo.fa"
        }
        'Pac' {
            binomial = 'Propionibacterium acnes'
            med_len = 2502120
            fasta = "${params.genomes_base}/Pac.fa"
        }
        'Pae' {
            binomial = 'Pseudomonas aeruginosa'
            med_len = 6594080
            fasta = "${params.genomes_base}/Pae.fa"
        }
        'Pdo' {
            binomial = 'Phycicoccus dokdonensis'
            med_len = 3942160
            fasta = "${params.genomes_base}/Pdo.fa"
        }
        'Psp' {
            binomial = 'Pandoraea sputorum'
            med_len = 5743060
            fasta = "${params.genomes_base}/Psp.fa"
        }
        'Rgu' {
            binomial = 'Rhizobacter gummiphilus'
            med_len = 6398100
            fasta = "${params.genomes_base}/Rgu.fa"
        }
        'Rpo' {
            binomial = 'Rickettsia prowazekii'
            med_len = 1115200
            fasta = "${params.genomes_base}/Rpo.fa"
        }
        'Rta' {
            binomial = 'Ramlibacter tataouinensis'
            med_len = 5154030
            fasta = "${params.genomes_base}/Rta.fa"
        }
        'Sag' {
            binomial = 'Streptococcus agalactiae'
            med_len = 2082930
            fasta = "${params.genomes_base}/Sag.fa"
        }
        'Sau' {
            binomial = 'Staphylococcus aureus'
            med_len = 2838100
            fasta = "${params.genomes_base}/Sau.fa"
        }
        'Sdy' {
            binomial = 'Streptococcus dysgalactiae'
            med_len = 2151420
            fasta = "${params.genomes_base}/Sdy.fa"
        }
        'Sen' {
            binomial = 'Salmonella enterica'
            med_len = 4781020
            fasta = "${params.genomes_base}/Sen.fa"
        }
        'Sfi' {
            binomial = 'Streptomyces filamentosus'
            med_len = 7834610
            fasta = "${params.genomes_base}/Sfi.fa"
        }
        'Sma' {
            binomial = 'Serratia marcescens'
            med_len = 5193150
            fasta = "${params.genomes_base}/Sma.fa"
        }
        'Spn' {
            binomial = 'Streptococcus pneumoniae'
            med_len = 2085830
            fasta = "${params.genomes_base}/Spn.fa"
        }
        'Spy' {
            binomial = 'Streptococcus pyogenes'
            med_len = 1831320
            fasta = "${params.genomes_base}/Spy.fa"
        }
        'Tmi' {
            binomial = 'Tatlockia micdadei'
            med_len = 3279420
            fasta = "${params.genomes_base}/Tmi.fa"
        }
        'Tpa' {
            binomial = 'Treponema pallidum'
            med_len = 1139190
            fasta = "${params.genomes_base}/Tpa.fa"
        }
        'Vco' {
            binomial = 'Vibrio cholerae'
            med_len = 4022980
            fasta = "${params.genomes_base}/Vco.fa"
        }
        'Vip' {
            binomial = 'Vibrio parahaemolyticus'
            med_len = 5123200
            fasta = "${params.genomes_base}/Vip.fa"
        }
        'Vpa' {
            binomial = 'Variovorax paradoxus'
            med_len = 7515890
            fasta = "${params.genomes_base}/Vpa.fa"
        }
        'Yen' {
            binomial = 'Yersinia enterocolitica'
            med_len = 4553110
            fasta = "${params.genomes_base}/Yen.fa"
        }
    }
}
