/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${meta.id ? meta.id : ''}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename - ((meta.id ? meta.id : '') + '_') }
    ]

    withName: CHECK_SAMPLESHEET {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: TRIMMOMATIC {
        ext.args2 = 'ILLUMINACLIP:NexteraPE-PE.fa:2:30:10 LEADING:3 TRAILING:3 SLIDINGWINDOW:4:20 MINLEN:100'
    }

    withName: PARSE_TRIMMOMATIC_LOG {
        ext.args = "--min-reads $params.min_reads"
    }

    withName: REDUCE_READS {
        ext.args = "--random True --k $params.read_cutoff"
    }

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: MASH_SKETCH_SPECIES {
        ext.args = '-k 16 -s 400'
    }

    withName: MASH_SKETCH_FQ {
        ext.args = '-m 2 -k 16 -s 400'
    }

    withName: MASH_DIST_FQ {
        ext.suffix = 'RvSp'
    }

    withName: MASH_DIST_FA {
        ext.suffix = 'FAvNCBI'
    }

    withName: SPADES {
        ext.args = '--careful --cov-cutoff auto'
    }

    withName: FILTER_CONTIGS {
        ext.args = "--min-contig-len $params.min_contig_len --min-contig-cov $params.min_contig_cov"
    }

    withName: PARSE_SPADES_OUTPUT {
        ext.args = "--min-contig-len $params.min_contig_len --min-contig-cov $params.min_contig_cov --max-no-contigs $params.max_no_contigs"
    }

    withName: SAMTOOLS_DEPTH {
        ext.args = "-aa"
    }

    withName: PARSE_BWA_OUTPUT {
        ext.args = "--mapped-threshold $params.mapped_threshold"
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

}
