params {
    species = [
        'Aav': [
            'Acidovorax avenae',
            5574500
        ],
        'Aba': [
            'Acinetobacter baumannii',
            3977290
        ],
        'Bsu': [
            'Bacillus subtilis',
            4136780
        ],
        'Bfr': [
            'Bacteroides fragilis',
            5277680
        ],
        'Ban': [
            'Bifidobacterium animalis',
            1934770
        ],
        'Bbu': [
            'Borreliella burgdorferi',
            1294900
        ],
        'Bme': [
            'Brucella melitensis',
            3295090
        ],
        'Bps': [
            'Burkholderia pseudomallei',
            7123730
        ],
        'Cbo': [
            'Clostridium botulinum',
            3914600
        ],
        'Cje': [
            'Campylobacter jejuni',
            1692320
        ],
        'Ctr': [
            'Chlamydia trachomatis',
            1046350
        ],
        'Cfr': [
            'Citrobacter freundii',
            5293370
        ],
        'Cdi': [
            'Clostridioides difficile',
            4174440
        ],
        'Cdp': [
            'Corynebacterium diphtheriae',
            2444540
        ],
        'Cco': [
            'Cronobacter condimenti',
            4499480
        ],
        'Cdo': [
            'Cronobacter dublinensis',
            4545550
        ],
        'Cma': [
            'Cronobacter malonaticus',
            4469230
        ],
        'Cmu': [
            'Cronobacter muytjensii',
            4354490
        ],
        'Cro': [
            'Cronobacter species',
            4436890
        ],
        'Csa': [
            'Cronobacter sakazakii',
            4483370
        ],
        'Ctu': [
            'Cronobacter turicensis',
            4548510
        ],
        'Cun': [
            'Cronobacter universalis',
            4436890
        ],
        'Dra': [
            'Deinococcus radiodurans',
            3241810
        ],
        'Eas': [
            'Enterobacter asburiae',
            4849950
        ],
        'Eca': [
            'Enterobacter cancerogenus',
            4879940
        ],
        'Ecl': [
            'Enterobacter cloacae',
            4946390
        ],
        'Ehh': [
            'Enterobacter hormaechei_ho',
            4933650
        ],
        'Eho': [
            'Enterobacter hormaechei_st',
            4965830
        ],
        'Eko': [
            'Enterobacter kobei',
            4956750
        ],
        'Elu': [
            'Enterobacter ludwigii',
            4876540
        ],
        'Ero': [
            'Enterobacter roggenkampii',
            4994840
        ],
        'Eco': [
            'Escherichia coli',
            5140740
        ],
        'Efm': [
            'Enterococcus faecium',
            2935270
        ],
        'Fnu': [
            'Fusobacterium nucleatum',
            2408530
        ],
        'Hin': [
            'Haemophilus influenzae',
            1846600
        ],
        'Hfp': [
            'Hafnia paralvei',
            4778390
        ],
        'Hpy': [
            'Helicobacter pylori',
            1633210
        ],
        'Ica': [
            'Intrasporangium calvum',
            4024710
        ],
        'Kpn': [
            'Klebsiella pneumoniae',
            5593110
        ],
        'Lrh': [
            'Lactobacillus rhamnosus',
            2945650
        ],
        'Lla': [
            'Lactococcus lactis',
            2509250
        ],
        'Lpn': [
            'Legionella pneumophila',
            3447360
        ],
        'Lmo': [
            'Listeria monocytogenes',
            2985440
        ],
        'Lru': [
            'Legionella rubrilucens',
            3129670
        ],
        'Msc': [
            'Marmoricola scoriae',
            4058580
        ],
        'Msh': [
            'Mycobacterium shigaense',
            5207880
        ],
        'Mtb': [
            'Mycobacterium tuberculosis',
            4383580
        ],
        'Ndo': [
            'Nocardioides dokdonensis',
            4376710
        ],
        'Nfa': [
            'Nocardia farcinica',
            6406890
        ],
        'Ngo': [
            'Neisseria gonorrhoeae',
            2143510
        ],
        'Pac': [
            'Propionibacterium acnes',
            2502120
        ],
        'Pae': [
            'Pseudomonas aeruginosa',
            6594080
        ],
        'Pdo': [
            'Phycicoccus dokdonensis',
            3942160
        ],
        'Psp': [
            'Pandoraea sputorum',
            5743060
        ],
        'Rgu': [
            'Rhizobacter gummiphilus',
            6398100
        ],
        'Rpo': [
            'Rickettsia prowazekii',
            1115200
        ],
        'Rta': [
            'Ramlibacter tataouinensis',
            5154030
        ],
        'Sag': [
            'Streptococcus agalactiae',
            2082930
        ],
        'Sau': [
            'Staphylococcus aureus',
            2838100
        ],
        'Sdy': [
            'Streptococcus dysgalactiae',
            2151420
        ],
        'Sen': [
            'Salmonella enterica',
            4781020
        ],
        'Sfi': [
            'Streptomyces filamentosus',
            7834610
        ],
        'Sma': [
            'Serratia marcescens',
            5193150
        ],
        'Spn': [
            'Streptococcus pneumoniae',
            2085830
        ],
        'Spy': [
            'Streptococcus pyogenes',
            1831320
        ],
        'Tmi': [
            'Tatlockia micdadei',
            3279420
        ],
        'Tpa': [
            'Treponema pallidum',
            1139190
        ],
        'Vco': [
            'Vibrio cholerae',
            4022980
        ],
        'Vip': [
            'Vibrio parahaemolyticus',
            5123200
        ],
        'Vpa': [
            'Variovorax paradoxus',
            7515890
        ],
        'Yen': [
            'Yersinia enterocolitica',
            4553110
        ]
    ]
}
